<!DOCTYPE html>
<html lang="en">
    <head><Title>Detalle del libro</Title></head>
    <%- include('./partials/head') %>
<body>

    <%- include('./partials/header') %>
    <main>
        <div class="wrapper">
            <div>
                <div id="libro">
                    <img src="/images/productos/<%= product.imagenLibro %>" width="260" height="380" alt="Libro">
                </div>
                <div id="descripcion">
                    <h1>
                        <%= product.titulo %>
                    </h1>
                    <h2>Tony Faggioli</h2>
                    <img src="/images/star.png" width="25px" height="25px">
                    <img src="/images/star.png" width="25px" height="25px">
                    <img src="/images/star.png" width="25px" height="25px">
                    <img src="/images/star.png" width="25px" height="25px">
                    <img src="/images/star.png" width="25px" height="25px"><br><br>
                    <span id="precio"> $ <%= product.precio %> </span><br><br>
                    <span id="cantidad"> CANTIDAD </span>

                    <input type="button"><i class="far fa-caret-square-up"></i> 1 <i
                        class="far fa-caret-square-down"></i></i><br><br>
                    <button class="glow-on-hover" type="button">¡Agregar al carrito!</button><br><br><br>

                    <div class="img-with-text">
                        <img class="img" src="/images/book-open.svg" width="50px" height="50px"><br>
                        <span>
                            <%= product.paginas %>
                        </span>
                    </div>

                </div>

                <div id="resena">
                    <h2>Reseña</h2><br>
                    <p><i>
                        <%= product.resenia %>
                    </p><br><br>
                </div>

            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>

</body>
</html>