<!DOCTYPE html>
<html lang="en">

<head>
    <Title>Home</Title>
</head>
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <div style="margin: 0 90px 0 90px;">
                <%- include('./partials/landing') %>
            </div>

            <br>
            <h1 style="text-align: center;">Lo más popular</h1> <br>
            <div style="text-align: center;">
                <%- include('./products/books') %>
            </div>


    </body>
</html>

<%- include('./partials/footer') %>