
    <head>
        <Title>Iniciar sesión</Title>
        <link rel="stylesheet" href="/css/login.css">
        <script src="./js/loginValidation.js"></script>
    </head>
    <%- include('../partials/head') %>
    
<body>
    <%- include('../partials/header') %>
    
    <% if(locals.isLogged){ %>
        <script>  document.location.href = '/profile' </script>
        <% } else { %>

    <main>
        <div class="columnas">
            <div class="column1">
                <div class="register2"><h1>Inicia sesión</h1> </div>
                <h4 class="texto1">Si ya tienes una cuenta con nosotros, por favor inicia sesión.</h4>
                <p style="color: red;">*Campos requeridos</p><br><br>

                <form action="/login" method="POST">
                    <label for="email"> <span style="color: red;">*</span>Correo electrónico:
                        <input 
                            type="text" 
                            name="email" 
                            id="email" 
                            class="controlEmail"
                            value= "<%= locals.oldData ? oldData.email : null %>"
                        >  
                    </label>
                    <div class="textErrorMail">
                    </div>
                    <% if (locals.errors && errors.email) {%>
                        <div class="text-danger">
                            <%= errors.email.msg %>
                        </div>
                    <%} %><br><br>
                    <label for="password"> <span style="color: red;">*</span>Contraseña:
                        <input 
                            type="password" 
                            name="password" 
                            id="password"
                            class="controlPass"
                        >
                    </label>
                    <div class="textErrorPass">
                    </div>
                    <% if (locals.errors && errors.password) {%>
                        <div class="text-danger">
                            <%= errors.password.msg %>
                        </div>
                    <%} %><br><br>
                    <label for="term1">
                        <input type="checkbox" name="term1" id="term1">
                        Recordarme contraseña
                    </label>

                    <div class="enviar">
                        <button type="submit">Iniciar sesión</button><br><br>
                        <a href="https://www.google.com" id="ligaContraseña">¿Olvidaste tu contraseña?</a>
                    </div>
                </form>
            </div>

            <div class="column2">
                <img src="/images/register.jpeg">
            </div>
        </div>
    </main>

    <% } %>

    <%- include('../partials/footer') %>
    <script src="./js/loginValidation.js"></script>
</body>
