<head>
    <Title>Mi Perfil</Title>
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>

<body>
    <%- include('../partials/header') %>

    <% if(!locals.isLogged){ %>
        <script>  document.location.href = '/login' </script>
        <% } else { %>

        <div class="wrapper_carrito">
            <h1>Mi Perfil</h1>

            <div class="wrapper_carrito">
                    <div class="perfil-box">
                      <div class="imagen">
                        <img class="img-fluid" src="images/usuarios/<%= locals.userLogged.src_image %>">
                      </div>
                      <div>
                        <h3 class="name"><%= locals.userLogged.name + " " + locals.userLogged.surnames %></h3>
                        <h4 class="title"><%= locals.userLogged.email %></h4>
                        <% if(locals.userLogged.role_id == 1){ %>
                          <h4 class="title">Administrador</h4>
                        <% } else { %>
                          <h4 class="title">Cliente</h4>
                        <% } %> 
                      </div>

                </div>
              </div>

        <% } %>
        <%- include('../partials/footer') %>

</body>