<!DOCTYPE html>
<html lang="en">

<head>
    <Title>Home <%=user.nombre %></Title>
</head>

    <body>
        <%- include('./partials/headerProfile') %>
            <div style="margin-right: 60px;">
                <%- include('./partials/landing') %>
            </div>

            <br>
            <h1 style="text-align: center;">Lo más popular</h1> <br>
            <div style="text-align: center;">
                <%- include('./products/books') %>
            </div>


    </body>
</html>

<%- include('./partials/footer') %>