<!DOCTYPE html>
<html lang="en">
    <head><Title>Registro</Title>
        <link rel="stylesheet" href="/css/register.css">
        <script src="/js/registerValidation.js"></script>
    </head>
<body>
    <%- include('../partials/header') %>

    <% if(locals.isLogged){ %>
        <script>  document.location.href = '/profile' </script>
        <% } else { %>

    <main>
        <div class="columnas_reg">
            <div class="column1_reg">
                <img src="/images/registroLogin/imagen-Libro.jpg">
                
            </div>

            <div class="column2_reg">
                <br>
                <div class="register"><h1>Regístrate</h1> </div>
                <h3 class="texto1">Al crear una cuenta en Bookmania, podrás agilizar el proceso de compra,
                    guardar múltiples direcciones de envío, rastrear pedidos y más.</h3>

                <form action="/register" class="formulario" method="POST" enctype="multipart/form-data">
                    <div class="form">
                        <label for="name" class="erName">Nombre (s):
                            <input 
                                type="text" 
                                id="name" 
                                name="nameUser" 
                                class="controlName"
                                value= "<%= locals.oldData ? oldData.nameUser : null %>"
                            required >
                        </label>
                        <div class="textErrorName">
                        </div>
                        <% if (locals.errors && errors.nameUser) {%>
                            <div class="text-danger">
                                <%= errors.nameUser.msg %>
                            </div>
                        <%} %>
                        <br><br>

                        <label for="fname">Apellido paterno:
                            <input 
                                type="text" 
                                id="fname" 
                                name="lastName" 
                                class="controlLN1"
                                value= "<%= locals.oldData ? oldData.lastName : null %>"
                            required >
                        </label>
                        <div class="textErrorApe1">
                        </div>
                        <% if (locals.errors && errors.lastName) {%>
                            <div class="text-danger">
                                <%= errors.lastName.msg %>
                            </div>
                        <%} %><br><br>

                        <label for="fMname">Apellido materno:
                            <input 
                                type="text" 
                                id="fMname" 
                                name="lastNameM" 
                                class="controlLN2"
                                value= "<%= locals.oldData ? oldData.lastNameM : null %>"
                            required>
                        </label>
                        <div class="textErrorApe2">
                        </div>
                        <% if (locals.errors && errors.lastNameM) {%>
                            <div class="text-danger">
                                <%= errors.lastNameM.msg %>
                            </div>
                        <%} %><br><br>

                        <label for="email">Correo electrónico:
                            <input 
                                type="text" 
                                id="email" 
                                name="email" 
                                class="controlEmail"
                                value= "<%= locals.oldData ? oldData.email : null %>"
                            >
                        </label>
                        <div class="textErrorMail">
                        </div>
                        <% if (locals.errors && errors.email) {%>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                        <%} %><br><br>

                        <select style="font-size: 20px;" name="rol" >
                            <option id="opciones" class="control">Elige un rol</option>
                            <%  let opciones = ['Administrador', 'Cliente']; %>
                        <% for (const oneOption of opciones) { %>
                            <option 
                                value="<%= oneOption %>"
                                <%= locals.oldData && (oneOption === oldData.rol) ? 'selected' : null %> 
                            > <%= oneOption %> </option>
                        <% } %>
                        </select>

                        <div class="textErrorOp">
                        </div>

                        <% if (locals.errors && errors.rol) {%>
                            <div class="text-danger">
                                <%= errors.rol.msg %>
                            </div>
                        <%} %><br><br>

                        <label for="password">Contraseña:
                            <input type="password" id="password" name="password" class="controlPass">
                        </label>
                        <div class="textErrorPass">
                        </div>
                        <% if (locals.errors && errors.password) {%>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                        <%} %><br><br>
                        <label for="avatar">Imagen de usuario:
                            <input id="file" type="file" size="24" name="avatar" class="control2">
                        </label>
                        <div class="textErrorImg">
                        </div>
                        <% if (locals.errors && errors.usuarios) {%>
                            <div class="text-danger">
                                <%= errors.usuarios.msg %>
                            </div>
                        <%} %>
                    </div>

                    <div class="enviar">
                        <button id="btnSubmit" type="submit">Enviar</button>
                    </div>

                </form>
            </div>
        </div>
    </main>
    <% } %>

    <%- include('../partials/footer') %>
    <script src="./js/registerValidation.js"></script>
</body>
</html>
