<!DOCTYPE html>
<html lang="en">
    <head><Title>Crear producto</Title></head>
    <%- include('../partials/head') %>
    
 <body>
    <%- include('../partials/header') %>
    <main>
        <h2>Creación de Productos</h2>
        <div class="formulario">
            
            <form action="/crearProducto" method="POST" enctype="multipart/form-data">
                <div class="titulo">

                    <label for="titulo">Título:
                        <input 
                            type="text" 
                            name="titulo" 
                            id="titulo"
                            value= "<%= locals.oldData ? oldData.titulo : null %>"
                        >
                        <% if (locals.errors && errors.titulo) {%>
                            <div class="text-danger">
                                <%= errors.titulo.msg %>
                            </div>
                        <%} %>
                    </label><br>

                    <label for="autor">Autor:
                        <input 
                            type="text" 
                            name="autor" 
                            id="autor"
                            value= "<%= locals.oldData ? oldData.autor : null %>"
                        >
                        <% if (locals.errors && errors.autor) {%>
                            <div class="text-danger">
                                <%= errors.autor.msg %>
                            </div>
                        <%} %>
                    </label><br>
                
                    <label for="año">Año:
                        <input 
                            type="number" 
                            name="year" 
                            id="year"
                        >
                        <% if (locals.errors && errors.year) {%>
                            <div class="text-danger">
                                <%= errors.year.msg %>
                            </div>
                        <%} %>
                    </label><br>

                    <label for="paginas">Páginas:
                        <input 
                            type="text" 
                            name="paginas" 
                            id="paginas"
                        >
                        <% if (locals.errors && errors.paginas) {%>
                            <div class="text-danger">
                                <%= errors.paginas.msg %>
                            </div>
                        <%} %>
                    </label><br><br>

                    <label for="categoría">Categoría:
                        <select 
                            name="Categoría"
                            class="control"
                        >
                        <%
                            let category =[ 'Arte', 'Ciencia', 'Deportes', 'Derecho', 'Economía',
                                            'Enseñanza Inglés', 'Ficción', 'Ingeniería', 'Infantil',
                                             'Informática', 'Literatura', 'Medicina', 'Psicología',
                                             'Religión'];
                        %>
                        <% for(const cat of category) { %>
                            <option 
                                value="<%=cat %>"
                                    <%= locals.oldData && (cat === oldData.Categoria) ? 'selected' : null %>
                            ><%=cat%></option>
                        <% } %>                            
                        </select>
                    </label><br>  
                </div><br>
                
                <label for="editorial">Editorial:
                    <input 
                        type="text" 
                        name="editorial"
                        value= "<%= locals.oldData ? oldData.editorial : null %>"
                    >
                    <% if (locals.errors && errors.editorial) {%>
                        <div class="text-danger">
                            <%= errors.editorial.msg %>
                        </div>
                    <%} %>
                </label><br><br>
                
                <label for="precio">Precio:
                    <input 
                        type="number" 
                        name="precio" 
                        placeholder="Ejem 123.99"
                        value= "<%= locals.oldData ? oldData.precio : null %>"
                    >
                    <% if (locals.errors && errors.precio) {%>
                        <div class="text-danger">
                            <%= errors.precio.msg %>
                        </div>
                    <%} %>
                </label><br><br>

                <label for="idioma">Idioma:
                    <input 
                        type="text" 
                        name="idioma" 
                        id="idioma"
                    >
                    <% if (locals.errors && errors.idioma) {%>
                        <div class="text-danger">
                            <%= errors.idioma.msg %>
                        </div>
                    <%} %>
                </label><br><br>

                <label for="descripcion"> Detalle del libro: <br>
                    <textarea name="descripcion" required> </textarea>
                </label><br>

                <label for="rating">Rating:
                    <input 
                        type="number" 
                        name="rating" 
                        id="rating"
                    >
                    <% if (locals.errors && errors.rating) {%>
                        <div class="text-danger">
                            <%= errors.rating.msg %>
                        </div>
                    <%} %>
                </label><br><br>

                <label for="oferta"> Oferta:<br>
                        0%<input type="radio" name="oferta" id="0%">
                        5%<input type="radio" name="oferta" id="5%">
                        10%<input type="radio" name="oferta" id="10%">
                        20%<input type="radio" name="oferta" id="20%">
                        50%<input type="radio" name="oferta" id="50%">
                </label><br>
                
                <div class="titulo">
                     <label for="img">Imagen:
                        <input 
                            type="file"    
                            size="24" 
                            name="libros"
                        >
                        <% if (locals.errors && errors.libros) {%>
                            <div class="text-danger">
                                <%= errors.libros.msg %>
                            </div>
                        <%} %>
                    </label>
                </div>  
                    
                <div class="enviar">
                    <button type="submit" class="boton-form">Cargar Producto</button><br>
                </div><br>
                <button type="submit" class="boton-form">Borrar</button>
            </form>
        </div>
    </main>
    <%- include('../partials/footer') %>
    
 </body>
</html>
