<head>
    <title>Nuestros Productos</title>
    <style>
        .my-cart-list {
            position: relative;
            padding: 0.4em;
            background: white;
            border: 1px solid lightgray;
            border-radius: 0.2em;
            box-shadow: 0px 0px 4px 0px lightgrey;
            margin-left: 20px;
            margin-right: 20px;
        }

        .my-cart-header {
            padding: 0.2em;
            display: flex;
            flex-wrap: wrap;
            border-bottom: 1px solid lightgray;
            font-weight: 700;
            margin-left: 20px;
            margin-right: 20px;
        }

        .my-cart-body {
            padding: 0.4em;
            margin-left: 20px;
            margin-right: 20px;
        }

        .my-item-details {
            display: flex;
            flex-wrap: wrap;
            padding: 0.8em;
            background: #f5f5f5;
            border-radius: 2px;
            box-shadow: 0px 0px 1px 1px lightgrey;
        }

        .my-cart-body .my-item-details:not(:first-child) {
            margin-top: 0.4em;
        }


        .twenty {
            width: 20%;
        }

        @media screen and (max-width:800px) {
            .twenty {
                width: auto;
            }
        }

        .remove-item-span {
            padding: 5px;
            position: relative;
            left: 1em;
        }

        .remove-item-button:hover {
            color: black;
            background: rgb(212, 164, 164);
        }

        .editar-item-button:hover {
            color: black;
        }

        .remove-item-button {
            background: red;
            border: 0;
            color: white;
            padding: 0.3em;
            border-radius: 4px
        }

        .editar-item-button {
            background: rgba(65, 80, 151, 0.9);
            border: 0;
            color: white;
            padding: 0.3em;
            border-radius: 4px
        }

        .my-item-image {
            width: 60px;
            height: 65px;
        }
    </style>
</head>

<body>
    <%- include('../partials/header') %>
    
    <% if(locals.userLogged.role_id != 1){ %>
        <script>  document.location.href = '/RestrictedArea' </script>
        <% }  else if (locals.userLogged.role_id != 1) { %>
            <script>  document.location.href = '/RestrictedArea' </script>
            <% } else{ %>

    <h3><% products.length %></h3>
        <main>
            <br>
            <h3 style="text-align: center;"><%-  products.length %> artículos en existencia </h3><br>
            <div class="my-cart-list">
                <div class="my-cart-header">
                    <div class="twenty">Imagen</div>
                    <div class="twenty">Título</div>
                    <div class="twenty">Autor</div>
                    <div class="twenty">Idioma</div>
                    <div class="twenty">Acciones</div>
                </div>

                <% for(let i = 0; i < products.length; i++) { %>

                    <div class="my-cart-body">
                        <div class="my-item-details">
                            <div class="twenty">
                                <a href="/detail/<%= products[i].id %> "><img src="/images/productos/<%= products[i].image %>"
                                        class="my-item-image"></a>
                            </div>
                            <div class="twenty">
                                <%= products[i].title %>
                            </div>
                            <div class="twenty">
                                <%= products[i].author %>
                            </div>
                            <div class="twenty">
                                <%= products[i].language %>
                            </div>
                        
                            <form action="/edit/<%= products[i].id %>" method="get">
                                <span class="remove-item-span">
                                    <button class="editar-item-button">  Editar</button>
                                </span>
                            </form>
                           
                            <form action="/eliminarLibro/<%=products[i].id%>?_method=DELETE" method="POST">
                                <span class="remove-item-span">
                                    <button class="remove-item-button">Eliminar</button>
                                </span>     
                            </form>
                        </div>
                    </div>

                    <% }%>

            </div>
        </main><br><br>
        <% }%>

        <%- include('../partials/footer') %>
</body>